body{ 
    font-family: Arial , sans-serif;
    background-color: $colorfondo;
}

// Grid principal #container
 #container{
height: 100vh;
display: grid;
grid-template: {
    columns: 5% 35% 70%;
    rows: 100px 1fr;
        }
        
    }
   
.header{
grid-column: 2/3;
grid-row: 1/2;
    &.header__nombre{
        color: $colortexto;
        font-size: map-get($font, h1);
    }
}



.main{
grid-column: 2/3;
grid-row: 2/3;

    &.main__titulo{
       color: $colortexto;
       font-size: map-get($font, h4);
    }

    &.main__texto{
        color: $colortexto;
        font-size: map-get($font, base);
    }
    }
