//colores básicos

$colorfondo:#EDB84F;
$colorboton: #BE2424;
$colortexto:#E8E8E8;

//TAMAÑOS
//Tipografía
$font: (
 base: 1.125rem,   //texto p 18px
 h1: 1.5rem,     //texto logotipo 24px
 h4: 2.25rem,     //texto ADOPTA  36px
 boton: 1.5rem   //YA  24px
);

